<html>
    <head><title>login page</title></head>
    <body>
        <div> 
            <center><h2 style="font-family: times new roman; font-style: italic; font-size: 20px; color: crimson;">LOGIN PAGE</h2></center>
            <label for="user">Username</label>
            <input type="text" id="user" placeholder="Username"><br><br>
            <label for="password">Password</label>
            <input type="text" id="pass" placeholder="Password"><br><br>
            <button onclick="submit()" style="float: right;">LOGIN</button>
            <a href="forgot_password.html" style="font-family: times new roman; font-style: italic; font-size: 15px;">Forgot Password</a>
        </div>
        <style>
            div{
                height: 180px;
                width: 180px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 80px;
                background-color:lightblue;
                margin-left: 500px;
                margin-top: 180px;
                border: 3px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px navy;
            }
        </style>
        <script>
            function submit(){
                console.log("your form has clicked!!!")
                let name=document.getElementById("user").value;
                let password=document.getElementById("pass").value;
                console.log(name);
                console.log(password);
            }
            
        </script>
    </body>
</html>