<html>
    <head><title>registration from</title></head>
    <body>  
        <div>
            <h3> REGISTERATION FORM</h3>
                <label for="name">Name</label><br>
                <input type="text" id="name1" placeholder="NAME"><br><br>
                <label for="date">Date of Birth</label><br>
                <input type="text" id="dob" placeholder="Date of Birth"><br><br>
                <label for="religion">Religion</label><br>
                <input type="text" id="religion" placeholder="Religion"><br><br>
                <label for="caste">Caste</label><br>
                <input type="text" id="caste1" placeholder="Caste"><br><br>
                <label for="add">Address</label><br>
                <input type="text" id="address" placeholder="Address"><br><br>
                <label for="city">City</label><br>
                <input type="text" id="city1" placeholder="City"><br><br>
                <label for="pincode">Postal Code</label><br>
                <input type="text" id="postal" placeholder="Postal code"><br><br>
                <label for="Father">Father Name</label><br>
                <input type="text" id="Fname" placeholder="Father Name"><br><br>
                <label for="Mother">Mother Name</label><br>
                <input type="text" id="Mname" placeholder="Mother Name"><br><br>
                <label for="phone">Phone No</label><br>
                <input type="tel" id="phone1" placeholder="Phone No"><br><br>
                <button onclick="form1()">SUBMIT</button>
        </div>
        <style>
            div{
                height: 650px;
                width: 250px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:30px 80px;
                background-color:bisque;
                margin-left: 400px;
                margin-top: 60px;
                border: 3px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px brown;
            }
        </style>
        <script>
            function form1(){
            console.log("your form submitted successfully");

            let val1=document.getElementById("name1").value;
            let val2=document.getElementById("dob").value;
            let val3=document.getElementById("religion").value;
            let val4=document.getElementById("caste1").value;
            let val5=document.getElementById("address").value;
            let val6=document.getElementById("city1").value;
            let val7=document.getElementById("postal").value;
            let val8=document.getElementById("Fname").value;
            let val9=document.getElementById("Mname").value;
            let val10=document.getElementById("phone1").value;

            console.log(val1);
            console.log(val2);
            console.log(val3);
            console.log(val4);
            console.log(val5);
            console.log(val6);
            console.log(val7);
            console.log(val8);
            console.log(val9);
            console.log(val10);
            }
        </script>
    </body>
</html>